.formContainer{
    background-color: gray;
    border-radius: 10px;
    margin: 10px 0;
    width: 50%;
    padding: 20px;
    position: relative;
    left: 23.5%;
}

input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid rgb(34, 33, 33);
    border-radius: 8px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 100%;
    background-color: #fdc52c;
    padding: 15px 20px;
    border-style: none;
    /* border: 1px solid black; */
    border-radius: 8px;
    cursor: pointer;
}
input[type="submit"]:hover{
   text-decoration: underline black;
}
input[type="submit"]:active{
   background-color: rgb(252, 215, 95);
}